.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  gap: 1px;
}

.flex {
  display: flex;
}

.g-info {
  display: flex;
  gap: 1px;
  justify-content: space-between;
  font-variant: tabular-nums;
  span {
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
  }
  .btn-confirm {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .btn-cancel {
    border: solid 1px #f5431f;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1px;
  .flex-item {
    flex: 1;
    text-align: justify;
  }
}

.g-settings {
  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input:focus {
    border: solid 1px #1f75f5;
  }
  button {
    background-color: #279df1;
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  button:hover {
    background-color: #1f75f5;
  }
  .btn-close {
    background-color: #ef233c;
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .btn-close:hover {
    background-color: #f44336;
  }
}
.settings-ico {
  font-size: 20px;
  cursor: pointer;
}
