.cell {
  width: 30px;
  height: 30px;
  display: inline-block;
  border: 1px solid #bfbfbf;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: #e0e0e0;
  &.number-1 {
    color: blue;
  }

  &.number-2 {
    color: green;
  }

  &.number-3 {
    color: red;
  }

  &.number-4 {
    color: darkblue;
  }

  &.number-5 {
    color: brown;
  }
}
.revealed {
  background-color: #b5b3b3  !important;
}
